name: Lint & Format

on:
  push:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 8
          run_install: true
      - name: fmt check
        run: pnpm run fmt:check
      - name: lint
        run: pnpm run lint
